@model IO.Swagger.Model.Book

@if (Model != null) {
	<h2>@Model.Name</h2>

	<p>Owner:
		<a asp-area=""
				asp-controller="Users"
				asp-action="Profile"
				asp-route-id="@Model.Owner.Id"
		>
			@Model.Owner.Name
		</a>
	</p>

	<p>Reader:
		@if (Model.ReaderId.HasValue) {
			<a asp-area=""
					asp-controller="Users"
					asp-action="Profile"
					asp-route-id="@Model.Reader.Id"
			>
				@Model.Reader.Name
			</a>
			@if (Model.ReaderId == (int?)ViewData["userId"]) {
				<form role="form" asp-area="" asp-controller="Books" asp-action="Return" asp-route-id="@Model.Id">
			        <button class="btn btn-success" type="submit">return book</button>
				</form>
			}
		} else {
			<span class="label label-success">free</span>
		}
	</p>

} else {
	<h2>Such book doesn't exist</h2>	
}
