@model IO.Swagger.Model.Book

@{
    ViewData["Title"] = "Book profile page";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

@{
	if (Model != null) {
		<p>Book id: @Model.Id</p>
		<p>Book name: @Model.Name</p>
		<p>Book owner id: @Model.OwnerId</p>
		<p>Book owner:
			<a asp-area=""
					asp-controller="Users"
					asp-action="Profile"
					asp-route-id="@Model.Owner.Id"
			>
				@Model.Owner.Name
			</a>
		</p>
	}
}
