@model IO.Swagger.Model.Book

@{
	int? userId = (int?)ViewData["userId"];
	int? userRoleId = (int?)ViewData["userRoleId"];
}

@if (Model != null) {
	<h2>@Model.Name</h2>

	<p>Owner:
		<a asp-area=""
				asp-controller="Users"
				asp-action="Profile"
				asp-route-id="@Model.Owner.Id"
		>
			@Model.Owner.Name
		</a>
	</p>

	<p>Reader:
		@if (Model.ReaderId.HasValue) {
			<a asp-area=""
					asp-controller="Users"
					asp-action="Profile"
					asp-route-id="@Model.Reader.Id"
			>
				@Model.Reader.Name
			</a>
			@if (Model.ReaderId == userId) {
				<form role="form" asp-area="" asp-controller="Books" asp-action="Return" asp-route-id="@Model.Id">
					<label>Return the book</label>
					<button class="btn btn-success" type="submit">return</button>
				</form>
			}
		} else {
			<span class="label label-success">free</span>
		}
	</p>

	@if ( !Model.ReaderId.HasValue && userId.HasValue ) {
		@if (Model.OwnerId != userId) {
			<form role="form" asp-area="" asp-controller="Books" asp-action="Order" asp-route-id="@Model.Id">
				<label>Order the book</label>
				<button class="btn btn-primary" type="submit">order</button>
			</form>
		}
		@if (userRoleId.HasValue && (userRoleId.Value == 1 || userRoleId.Value == 2) || Model.OwnerId == userId) {
			<form role="form" asp-area="" asp-controller="Books" asp-action="Delete" asp-route-id="@Model.Id">
				<label>Delete the book</label>
				<button class="btn btn-danger" type="submit">delete</button>
			</form>
		}
	}
} else {
	<h2>Such book doesn't exist</h2>	
}
