@model IO.Swagger.Model.User

@{
	int? userId = (int?)ViewData["userId"];
	int? userRoleId = (int?)ViewData["userRoleId"];
}

@if (Model != null) {
	<h2>@Model.Name</h2>
	<h3>@Model.Role.Name</h3>

	@if (Model.Id == userId) {
		<form class="form-horizontal" role="form" asp-area="" asp-controller="Users" asp-action="Edit" asp-route-id="@Model.Id">
			<div class="form-group">
				<label for="userName" class="control-label col-md-2">change user name</label>
				<div class="col-md-10">
					<input type="text" id="userName" name="userName" class="form-control" value="@Model.Name" required>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-offset-1 col-md-1">
					<button class="btn btn-warning" type="submit">save</button>
				</div>
			</div>
		</form>
	}

	@if (userRoleId.HasValue && userRoleId.Value == 1 && Model.Id != userId) {
		<form class="form-horizontal" role="form" asp-area="" asp-controller="Users" asp-action="EditRole" asp-route-id="@Model.Id">
			<div class="form-group">
				<label for="roleId" class="control-label col-md-2">change user role</label>
				<div class="col-md-10">
					<select id="roleId" name="roleId" class="form-control">
						<option value="2">moderator</option>
						<option value="3">reader</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-offset-1 col-md-1">
					<button class="btn btn-warning" type="submit">save</button>
				</div>
			</div>
		</form>
	}

	@if (
			Model.Books.Count == 0 && Model.RentedBooks.Count == 0
			&& (
					userRoleId.HasValue && userRoleId.Value == 1
					|| userId.HasValue && userId.Value == Model.Id
			)
	){
		<form role="form" asp-area="" asp-controller="Users" asp-action="Delete" asp-route-id="@Model.Id">
			<label>Delete (ban) the user</label>
			<button class="btn btn-danger" type="submit">delete</button>
		</form>
	}

	@if ( Model.Id == userId ) {
		<hr />
		<h4>Create new book</h4>
		<form class="form-horizontal" role="form" asp-area="" asp-controller="Books" asp-action="Create" >
			<input type="hidden" id="ownerId" name="ownerId" value="@Model.Id">
			<div class="form-group">
				<label for="newBookName" class="control-label col-md-2">new book name</label>
				<div class="col-md-10">
					<input type="text" id="newBookName" name="newBookName" class="form-control" plaseholder="the name of the new book">
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-offset-1 col-md-1">
					<button class="btn btn-success" type="submit">create</button>
				</div>
			</div>
		</form>
	}

	if (Model.Books.Count > 0) {
		<hr />
		<h4>Own Books</h4>
		<table class="table">
			@foreach (var book in Model.Books) {
				<tr>
					<td>
						<a asp-area=""
								asp-controller="Books"
								asp-action="Profile"
								asp-route-id="@book.Id"
						>
							@book.Name
						</a>
					</td>
					@if (book.ReaderId == null) {
						<td>
							<span class="label label-success">free</span>
						</td>
					} else {
						<td>
							<span class="label label-danger">busy</span>
						</td>
					}
				</tr>
			}
		</table>
	}

	if (Model.RentedBooks.Count > 0) {
		<hr />
		<h4>Rented Books</h4>
		<table class="table">
			@foreach (var book in Model.RentedBooks) {
				<tr>
					<td>
						<a asp-area=""
								asp-controller="Books"
								asp-action="Profile"
								asp-route-id="@book.Id"
						>
							@book.Name
						</a>
					</td>
				</tr>
			}
		</table>
	}
} else {
	<h2>Such user doesn't exist</h2>
}
